@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1 class="display-4">THIS IS BRAD</h1>
    <button class="btn btn-primary">I'm a Button</button>
    <p>The button does nothing</p>
</div>
